<center>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Курс:</strong>
	  <%= @lecture.course.name %>
	</p>

	<p>
	  <strong>Преподаватель:</strong>
	  <%= @lecture.course.user.fio %>
	</p>

	<p>
	  <strong>Лекция:</strong>
	  <%= @lecture.name %>
	</p>

	<p>Прикрепленные файлы:</p>
	<% ClippedFile.all.each do |f| %>
		<% if f.lecture_id == @lecture.id %> 
			
			<% types = []  %>
			
			<% Mime::EXTENSION_LOOKUP.each do |type| %>
				<% types << type[0] %>
			<% end %>
			
			<% if types.include? f.content_type.split('/')[1] %>
				<%=link_to f.name, clipped_file_path(f)%>
			<% else %>
				<%=link_to f.name, '/uploads/' + f.name%>
			<% end %>
			
			<% if @lecture.course.user.id == session[:user_id] %>
				|
				<%= link_to 'Удалить', f, method: :delete, data: { confirm: 'Вы уверены?' } %>
			<% end %>
			<br>
		<% end %>
	<% end %>
			
	<% if @lecture.course.user.id == session[:user_id] %>
		<br/>	
		<%= link_to 'Прикрепить файл',new_clipped_file_path(lecture_id: @lecture.id) %>

	<% end %>
		<br/>
		<br/>
	<%= link_to 'К курсу', course_path(@lecture.course) %>
	
</center>
