<center>
	<p id="notice"><%= notice %></p>
	<table style="width:700px;">
	  <tr>
	  	<td>
			Курс:
	  	</td>
	 	<td>
	  		<b><%= @lecture.course.name %></b>
	 	</td>
	  </tr>
	  <tr>
	  	<td>
	  		Преподаватель:
	  	</td>
	  	<td>
	  		<%= @lecture.course.user.fio %>
	  	</td>
	  </tr>
	  <tr>
	  	<td>
			<b>Лекция:</b>
	  	</td>
	  	<td width="50%">
	  		<b><%= @lecture.name %></b>
	  	</td>
	  </tr>	
	  <tr>
	  	<td colspan="2">
			Прикрепленные файлы:
	  	</td>
	  </tr>
		<% ClippedFile.all.each do |f| %>
			<% if f.lecture_id == @lecture.id %> 
				
				<% types = []  %>
				
				<% Mime::EXTENSION_LOOKUP.each do |type| %>
					<% types << type[0] %>
				<% end %>
				<tr>
					<% if @lecture.course.user.id == session[:user_id] %>
						<td>
							<% if types.include? f.content_type.split('/')[1] %>
								<%=link_to f.name, clipped_file_path(f)%>
							<% else %>
								<%=link_to f.name, '/uploads/' + f.name%>
							<% end %>
						</td>
						
						<td>
							<%= link_to 'Удалить', f, method: :delete, data: { confirm: 'Вы уверены?' } %>
						</td>
					<% else %>
						<td colspan="2">
							<% if types.include? f.content_type.split('/')[1] %>
								<%=link_to f.name, clipped_file_path(f)%>
							<% else %>
								<%=link_to f.name, '/uploads/' + f.name%>
							<% end %>
						</td>
					<% end %>
			<% end %>
	<% end %>
			
	<% if @lecture.course.user.id == session[:user_id] %>	
		<tr>
			<td style="padding:12px">
		<%= link_to 'Прикрепить файл',new_clipped_file_path(lecture_id: @lecture.id), id: :reg %>
				
			</td>
			<td style="padding:12px">
	<%= link_to 'К курсу', course_path(@lecture.course), id: :reg %>
				
			</td>
		</tr>
	<% else %>

		<td colspan="2" style="padding-top:12px">
			<%= link_to 'К курсу', course_path(@lecture.course), id: :reg %>
		</td>
	<% end %>

	
	</table>
</center>
