<%= form_for(@clipped_file) do |f| %>
  <% if @clipped_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clipped_file.errors.count, "error") %> prohibited this clipped_file from being saved:</h2>

      <ul>
      <% @clipped_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td >
        <p> Для онлайн воспроизведения загружайте</p>
        <p> видео формата webm и mp4 , аудио mp3, изображения png и jpg, текстовые файлы</p>
        <%= f.hidden_field :lecture_id, value: params[:lecture_id] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.file_field :file %>
      </td>
    </tr>
    <tr>
      <td>
          <%= f.submit %>
      </td>
    </tr>    
  </table>
<% end %>
