<p id="notice"><%= notice %></p>

<h1>Listing Clipped Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lecture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clipped_files.each do |clipped_file| %>
      <tr>
        <td><%= clipped_file.name %></td>
        <td><%= clipped_file.lecture %></td>
        <td><%= link_to 'Show', clipped_file %></td>
        <td><%= link_to 'Edit', edit_clipped_file_path(clipped_file) %></td>
        <td><%= link_to 'Destroy', clipped_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clipped file', new_clipped_file_path %>
