<table>
<%= form_for(@user) do |f| %>
  
  <!-- ошибки -->
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- ошибки -->

  <tr>
    <td>
      <%= f.label :name, 'Логин' %><br>
    </td>
    <td>
      <%= f.text_field :name %>
    </td>
    <tr>
      <td>
        <%= f.label :fio, 'ФИО' %><br>
      </td>
      <td>
        <%= f.text_field :fio %>
      </td>
    </tr>  
    <tr>
      <td>
        <%= f.label :password, 'Пароль:' %><br>
      </td>
      <td>
        <%= f.password_field :password, size: 20 %>
      </td>
    </tr>    
    <tr>
      <td>
        <%= f.label :password_digest, 'Подтверждение пароля:'%>
      </td>  
      <td>
        <%= f.password_field :password_digest %>  
      </td>  
    </tr>
      <% if session[:user_id] %>
        <% if User.find_by_id(session[:user_id]).role == "administrator" %>
          <tr>
            <td colspan="2">
              <%= select(:user, :role, [['преподаватель', 'teacher'], ['администратор', 'admin']]) %>  
            </td>
          </tr>
        <% end %>  
      <% else %>
        <%= f.hidden_field :role, :value => "student" %>
      <% end %>
    <tr>
      <td colspan="2">
        <%= f.submit %>
      </td>
    </tr>    
<% end %>
</table>