<center>
  <p id="notice"><%= notice %></p>

  <h1>Пользователи</h1>

  <table style="width:600px">
    <tr>
      <th>
        Логин
      </th>
      <th>
        ФИО
      </th>
      <th>
        Статус
      </th>

    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        
        <td>
          <%= user.fio %>
        </td>
        
        
        <% case user.role %>
        <% when 'administrator' %>
          <td>администратор</td>
        <% when 'teacher' %>
          <td>преподаватель</td>
        <% else %>
          <td>студент</td>
        <% end %> 

        <% if (User.find_by_id(session[:user_id]).role == 'administrator') || 
              (user.id == session[:user_id] && User.find_by_id.session[:user_id].role != 'teacher') %> 
            <td><%= link_to 'Изменить', edit_user_path(user) %></td>
        <% end %>
        
        <% if session[:user_id] != user.id %>
          <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to 'Cоздать нового пользователя', new_user_path, id: :reg %>
</center>