<center>
  <p id="notice"><%= notice %></p>

  <h1>Пользователи</h1>

  <table>
    <% @users.each do |user| %>
      <tr>
        
        <% if user.fio %>
          <td><%= user.fio %></td>
        <% else %>
          <td><%= user.name %></td>
        <% end %>

        <% case user.role %>
        <% when 'administrator' %>
          <td>администратор</td>
        <% when 'teacher' %>
          <td>преподаватель</td>
        <% else %>
          <td>студент</td>
        <% end %> 

        <td><%= link_to 'Страница пользователя', user %></td>
        <td><%= link_to 'Изменить', edit_user_path(user) %></td>
        
        <% if session[:user_id] != user.id %>
          <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to 'Cоздать нового пользователя', new_user_path %>
</center>