<center>
<% if notice  %> 
	<p><%= notice %></p>
<% end %>

<% if @user.fio != nil %>
	<%= @user.fio %> |
<% end %>
	
|
<% case @user.role %>
<% when 'administrator' %>
	Администратор
<% when 'teacher' %>
	Преподаватель
<% else %>
	Студент
<% end %>		

<% Course.all.each do |course|  # если создал курсы %>
	<% if course.user.id == session[:user_id] %>
		<br/>
		Курсы пользователя:
	<% end %>
	<% break %>
<% end %>

<% Course.all.each do |course| %>
	<% if course.user.id == session[:user_id] %>
		<%= link_to course.name, course_path(course) %> |
	<% end %> 
<% end %>

 Логин : <%= @user.name %>
 <% if @user.role != 'teacher' %>
 	<%= link_to 'Изменить', edit_user_path(@user) %>
 <% end %>
<br/>
<br/>
</center>