<center>
	<h3>Добро пожаловать!</h3>
	<p id="notice"><%= notice %></p>
		<% if session[:user_id] # если залогинен %> 
			Ваш логин: <%= User.find_by_id(session[:user_id]).name %>
			<% if User.find_by_id(session[:user_id]).fio %>
			 	| 
			 	 ФИО: <%= User.find_by_id(session[:user_id]).fio %>
			<% end %>
			<br/>
			<%= link_to 'Просмотр всех курсов', courses_path %> 
			|
			<%= link_to 'Моя страница', user_path(session[:user_id]) %>
			
			<% Course.all.each do |course|  # если создал курсы %>
				<% if course.user == session[:user_id] %>
					<br/>
					Курсы пользователя:
				<% end %>
				<% break %>
			<% end %>

			<% Course.all.each do |course| %>
				<% if course.user == session[:user_id] %>
					<%= link_to course.name, course_path(course) %>
				<% end %> 
			<% end %>

			<% if User.find_by_id(session[:user_id]).role == "administrator" # если админ %>
				<br/>
				<%= link_to 'Регистрация нового пользователя', new_user_path %>
				|
				<%= link_to 'Просмотр списка пользователей', users_path %>
			<% elsif User.find_by_id(session[:user_id]).role == "teacher" # если препод %>
				<br/>
				<%= link_to 'Создать курс'.html_safe, controller: "courses", action: "new" %>
			<% end %>
			
			<%= button_to 'Выйти', logout_path, method: :delete %>      
		<% else %>
			<%= link_to 'Вход'.html_safe, controller: "sessions", action: "new" %>
			<%= link_to 'Регистрация'.html_safe, new_user_path %>
		<% end %>
</center>