<table>
  
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <tr>
  <td>
    Название
  </td>
  <td width="50%">
    <%= f.text_field :name %>
  </td>  
  </tr>
      <%= f.hidden_field :user_id, value: session[:user_id] %>
  <tr>
    <td colspan="2">
      <%= f.submit %>
    </td>
  </tr>
  </div>
<% end %>
</table>
