<center>
  <p id="notice"><%= notice %></p>
  <h1> Курсы </h1>
  <table>
      <tr>
        <th>Курс</th>
        <th>Преподаватель</th>
        <td></td>
      </tr>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.user.fio%></td>
        <% if User.find_by_id(session[:user_id]).role == 'teacher' %>
          <% if User.find_by_id(session[:user_id]) == course.user %>
            <td> <%= link_to 'Изменить', edit_course_path(course) %> |</td>
            <td> <%= link_to 'Удалить', course, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if User.find_by_id(session[:user_id]).role == 'teacher' %>
    <%= link_to 'Создать курс', new_course_path %>
  <% end %>
</center>