<center>
	<table>
		<tr>
			<td>
				Курс: 
			</td>
			<td>
				<b><%= @course.name %></b>
			</td>
		</tr>
		<tr>
			<td>
				Преподаватель: 
			</td>
			<td>
				<em><%= @course.user.fio %></em>
			</td>
		</tr>
		<tr><td colspan="2"><br>   </td></tr>
		<tr><td colspan="2">Элементы курса:</td></tr>
		
		<% @course.lectures.all.each do |lecture| %>
			<% if lecture.course.name == @course.name %>
				<tr>
					<% if lecture.course.user.id == session[:user_id] %>
						<td>
							<%= link_to lecture.name, lecture %> 
						</td>
						<td>
							<%= link_to 'Изменить', edit_lecture_path(lecture, course_id: @course.id) %> | 
							<%= link_to 'Удалить', lecture, method: :delete, data: { confirm: 'Вы уверены?' } %>
						</td>
					<% else %>
						<td colspan="2">
							<%= link_to lecture.name, lecture %> 
						</td>
					<% end %>
				</tr>			
			<% end %> 
		<% end %>
		<tr>
			<td colspan="2">
				<% if @course.user.id == session[:user_id] %>
					<%= link_to 'Добавить лекцию/задание', new_lecture_path(course_id: params[:id]), id: :reg %>	
				<% end %>
			</td>
		</tr>
</table>	
</center>
